*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c6cfe9;
}

.heading{
    text-align: center;
    margin-top: 15px;

}

.heading h1{
    font-family: "Sofadi One", system-ui;
    font-weight: 1000px;
    font-size: 80px;
    color: #0a2344;

    margin-top: 10px;

  }


.cont{
    margin-top: 40px;
    display: grid;
    gap: 6px;
    justify-content: center; 
    align-content: center; 
    grid-template-columns: repeat(6, 120px);
    grid-template-rows: repeat(4, 120px);
    place-items: center;
}

.card{
    width: 120px;
    height: 120px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e69a2;
    border: none;
    border-radius: 10px;
    font-size: 40px;
}

.card:hover{
    cursor: pointer;
    background-color: #265086;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

button {
    width: 12vw;
    height: 7vh;
    border: none;
    border-radius: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin-bottom: 40px;
}

button:hover{
    cursor: pointer;
    background-color: #3062a4;
    color: white;
}

.player{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 25px;
    font-size: 30px;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0a2344;
}

.win{
    font-size: 50px;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0a2344;
    text-align: center;
}